body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #0A143A;
  /*цвет текста*/
}

.container {
  max-width: 1146px;
  margin: auto;
  /* автоматическое выравнивание по середине*/
}

.header {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 12px;
}

.logo {
  background: url("img/logo.svg");
}

.navbar {
  display: flex;
  /* делаем гибкий блок*/
  align-items: center;
  /* выравниваем по вертикали по центру*/
  justify-content: space-around;
  /* разбросать элементы по краям*/
  margin-bottom: 24px;
}

.navbar-menu {
  margin-right: auto;
  /* автоматический отступ справа*/
}

.menu {
  list-style: none;
  /* отключаем точки в списке*/
  margin: 0;
  /* обнуляем отступы*/
  padding-left: 22px;
  /* внутренний отступ слева*/
  padding-right: 22px;
  /* внутренний отступ справа*/
  display: flex;
}

/* для всех пунктов меню кроме последнего*/
.menu-item:not(:last-child) {
  margin-right: 14px;
}

.menu-link {
  margin: 0;
  text-decoration: none;
  /*отключаем подчеркивание ссылок*/
  color: inherit;
  /*возьми цвет текста как у твоего родителя*/
}

.button {
  text-decoration: none;
  display: inline-block;
  padding: 10px 15px;
  cursor: pointer;
}

.button-link {
  color: inherit;
}

.button-primary {
  background: #256EEB;
  border-radius: 5px;
  color: #FFFFFF;
}

.search-panel {
  height: 50px;
  background: #256EEB;
  border-radius: 5px;
  display: flex;
  padding: 3px;
}

.search-input {
  flex-grow: 1;
  /*раcтягивается на все свободное место*/
  background: #FFFFFF;
  border-radius: 5px;
  border: none;
  /*отключаем обводку*/
  padding-left: 22px;
  padding-right: 22px;
}

.search-button {
  background: #256EEB;
  border: none;
  padding-left: 20px;
  padding-right: 17px;
  display: flex;
  align-items: center;
}

.search-button-text {
  color: white;
  margin-left: 5px;
}

.page-content {
  display: grid;
  grid-template-columns: 9fr 3fr;
  grid-column-gap: 30px;
}

.card-image {
  border-radius: 10px;
  width: 264px;
  height: 178px;
  object-fit: cover;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  /*чтобы картинки переносились*/
}

.card {
  margin-bottom: 20px;
}
.card:not(:nth-child(3n)) {
  margin-right: 20px;
}
.card-title {
  font-size: 16px;
  line-height: 19px;
  color: #256EEB;
  margin-top: 12px;
  margin-bottom: 5px;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 264px;
}

.like {
  background-color: white;
  border: none;
  cursor: pointer;
  margin-left: 15px;
}

.card-price {
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 10px;
  display: block;
}

.card-text {
  font-size: 14px;
  line-height: 16px;
  color: #C4C4C4;
  margin-bottom: 4px;
  margin-top: 0;
}

.card-link {
  text-decoration: none;
}
.sidebar .page-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
}
.service {
  margin-bottom: 25px;
}
.service-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  margin-top: 7px;
  margin-bottom: 5px;
}
.service-text {
  font-size: 14px;
  line-height: 16px;
  max-width: 217px;
}
.footer-text {
  display: inline-block;
  font-size: 14px;
  line-height: 16px;
  color: #C4C4C4;
  margin-bottom: 5px;
}
.footer-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 16px;
}
.footer-link {
  color: inherit;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 5px;
}